# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and results
data/
results/

reports/
.github/

# OS files
.DS_Store
Thumbs.db
